.recipes-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.section-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section-item {
    cursor: pointer;
    margin-bottom: 10px;
}

.add-section-btn {
    margin-top: 10px;
}

.col-md-3 { /* CSS class for column 1 and 2 */
    border-left: 1px solid #d0d0d0;
    height: 700px;
}

.section-item[data-section='spices']:hover {
    background-color: rgb(81, 98, 77); /* khaki background */
    color: white; /* white text */
}