.recipes-title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.section-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section-item {
    cursor: pointer;
    margin-bottom: 10px;
}

.add-section-btn {
    margin-top: 10px;
}

