.saffron-text {
  font-family: 'Cormorant', serif;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}

#logo img {
  width: 30px; 
  height: auto;
  padding-bottom: 3%; 
  
}
